//- doctype html 
//- html(lang='zh-TW')
//-     head 
//-         title Flash Card 
//-     body 
//-         include includes/header.pug
//-         block content 
//-         include includes/footer.pug
        